{7
 {:name "First Guy",
  :attributes
  {:intelligence 0,
   :dexterity 0,
   :strength 0,
   :constitution 0,
   :charisma 0,
   :wisdom 0}},
 20
 {:name "Second Guy",
  :attributes
  {:intelligence 0,
   :dexterity 0,
   :strength 0,
   :constitution 0,
   :charisma 0,
   :wisdom 0}},
 1
 {:name "First Guy",
  :attributes
  {:intelligence 0,
   :dexterity 0,
   :strength 0,
   :constitution 0,
   :charisma 0,
   :wisdom 0}},
 24
 {:name "Name Nil Updates",
  :attributes
  {:intelligence 0,
   :dexterity 0,
   :strength 0,
   :constitution 0,
   :charisma 0,
   :wisdom 0}},
 4
 {:name "Some other name",
  :attributes
  {:intelligence 11,
   :dexterity 12,
   :strength 13,
   :wisdom 14,
   :charisma 15,
   :constitution 16}},
 15
 {:name "Billy Bob",
  :attributes
  {:intelligence 1,
   :dexterity 3,
   :strength 2,
   :constitution 9,
   :charisma 7,
   :wisdom 5}},
 21
 {:name "Billy Bob",
  :attributes
  {:intelligence 1,
   :dexterity 3,
   :strength 2,
   :constitution 9,
   :charisma 7,
   :wisdom 5}},
 13
 {:name "First Guy",
  :attributes
  {:intelligence 0,
   :dexterity 0,
   :strength 0,
   :constitution 0,
   :charisma 0,
   :wisdom 0}},
 22
 {:name "Some other name",
  :attributes
  {:intelligence 11,
   :dexterity 12,
   :strength 13,
   :wisdom 14,
   :charisma 15,
   :constitution 16}},
 6
 {:name "Name Nil Updates",
  :attributes
  {:intelligence 0,
   :dexterity 0,
   :strength 0,
   :constitution 0,
   :charisma 0,
   :wisdom 0}},
 17
 {:name "Nil Updates",
  :attributes
  {:intelligence 0,
   :dexterity 0,
   :strength 0,
   :constitution 0,
   :charisma 0,
   :wisdom 0}},
 3
 {:name "Billy Bob",
  :attributes
  {:intelligence 1,
   :dexterity 3,
   :strength 2,
   :constitution 9,
   :charisma 7,
   :wisdom 5}},
 12
 {:name "Name Nil Updates",
  :attributes
  {:intelligence 0,
   :dexterity 0,
   :strength 0,
   :constitution 0,
   :charisma 0,
   :wisdom 0}},
 2
 {:name "Second Guy",
  :attributes
  {:intelligence 0,
   :dexterity 0,
   :strength 0,
   :constitution 0,
   :charisma 0,
   :wisdom 0}},
 23
 {:name "Nil Updates",
  :attributes
  {:intelligence 0,
   :dexterity 0,
   :strength 0,
   :constitution 0,
   :charisma 0,
   :wisdom 0}},
 19
 {:name "First Guy",
  :attributes
  {:intelligence 0,
   :dexterity 0,
   :strength 0,
   :constitution 0,
   :charisma 0,
   :wisdom 0}},
 11
 {:name "Nil Updates",
  :attributes
  {:intelligence 0,
   :dexterity 0,
   :strength 0,
   :constitution 0,
   :charisma 0,
   :wisdom 0}},
 9
 {:name "Billy Bob",
  :attributes
  {:intelligence 1,
   :dexterity 3,
   :strength 2,
   :constitution 9,
   :charisma 7,
   :wisdom 5}},
 5
 {:name "Nil Updates",
  :attributes
  {:intelligence 0,
   :dexterity 0,
   :strength 0,
   :constitution 0,
   :charisma 0,
   :wisdom 0}},
 14
 {:name "Second Guy",
  :attributes
  {:intelligence 0,
   :dexterity 0,
   :strength 0,
   :constitution 0,
   :charisma 0,
   :wisdom 0}},
 16
 {:name "Some other name",
  :attributes
  {:intelligence 11,
   :dexterity 12,
   :strength 13,
   :wisdom 14,
   :charisma 15,
   :constitution 16}},
 10
 {:name "Some other name",
  :attributes
  {:intelligence 11,
   :dexterity 12,
   :strength 13,
   :wisdom 14,
   :charisma 15,
   :constitution 16}},
 18
 {:name "Name Nil Updates",
  :attributes
  {:intelligence 0,
   :dexterity 0,
   :strength 0,
   :constitution 0,
   :charisma 0,
   :wisdom 0}},
 8
 {:name "Second Guy",
  :attributes
  {:intelligence 0,
   :dexterity 0,
   :strength 0,
   :constitution 0,
   :charisma 0,
   :wisdom 0}}}
